RewriteEngine On

# Block access to /pages
RewriteRule ^pages/?$ - [F,L]

# Pretty URLs
RewriteRule ^login$ pages/login.php [L]
RewriteRule ^signup$ pages/signup.php [L]
RewriteRule ^dashboard$ pages/dashboard.php [L]
RewriteRule ^edit-profile$ pages/edit-profile.php [L]
RewriteRule ^about$ pages/about.php [L]
RewriteRule ^contact$ pages/contact.php [L]
RewriteRule ^register-device$ pages/register-device.php [L]
RewriteRule ^edit-device$ pages/edit-device.php [L]
RewriteRule ^device-logs$ pages/device-logs.php [L]

DirectoryIndex index.php
